// ######################################## //
// ## COLORS.SCSS ## //
// ######################################## //



$black: #000000;
$gray-0: #000000;
$gray-1: #111111;
$gray-2: #222222;
$gray-3: #333333;
$gray-4: #444444;
$gray-5: #555555;
$gray-6: #666666;
$gray-7: #777777;
$gray-8: #888888;
$gray-9: #999999;
$gray-a: #aaaaaa;
$gray-b: #bbbbbb;
$gray-c: #cccccc;
$gray-d: #dddddd;
$gray-e: #eeeeee;
$white: #FFFFFF;

$fb-color: #3b5998;
$twitter-color: #0084b4;
$google-login-color: #003C58;

// -----------------------------
// Material Color Shades
// -----------------------------

// Red
$material-red-bg: #FFCDD2;
$material-red: #F44336;
$material-red-dark: #B71C1C;

// Orange
$material-orange-bg: #FFF3E0;
$material-orange: #FF7700;
$material-orange-dark: #E65100;

// Green
$material-green-bg: #DCEDC8;
$material-green: #46A417;
$material-green-dark: #1B5E20;

// Blue
$material-blue-bg: #B3E5FC;
$material-blue: #01A1DD;
$material-blue-dark: #1565C0;

// Yellow
$material-yellow-bg: #FFF9C4;
$material-yellow: #FFA000;
$material-yellow-dark: #FF8F00;

// Pink
$material-pink-bg: #F8BBD0;
$material-pink: #E60E75;
$material-pink-dark: #AD1457;

// Teal
$material-teal-bg: #B2DFDB;
$material-teal: #36B4A7;
$material-teal-dark: #00695C;

// Purple
$material-purple-bg: #D1C4E9;
$material-purple: #9B59B6;
$material-purple-dark: #673AB7;
